{% extends 'layout/base.html.twig' %}
{% block body %}

<div class="container">
    <div class="row mt centered">
        <div class="col-lg-6 col-lg-offset-3">
            <h1>Comment sa marche ?</h1>
            <h3>Ses super facile, il suffit de poster, puis le poste est immédiatement visible, et sur tous les navigateurs et plateforme mobile (Android, IOS, mais aussi Windows Phone) et autre distribution linux !</h3>
        </div>
    </div><!-- /row -->

    <div class="row mt centered">
        <div class="col-lg-4">
            <img src="{{ asset('front/img/ser01.png') }}" width="180" alt="">
            <h4>1 - Navigateur Compatible</h4>

                <ul>
                    <li>Chrome, Firefox, Safari, Opera, Internet Explorer > 10, Edge</li>
                    <li>Android, Windows Phone, IOS</li>
                    <li>Distribution Linux</li>
                </ul>

        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
            <img src="{{ asset('front/img/ser02.png') }}" width="180" alt="">
            <h4>2 - Notification Email</h4>
            <p>A chaque publication mais aussi intéraction avec votre poste vous serez automatiquement notifié par "Email"</p>

        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
            <img src="{{ asset('front/img/ser03.png') }}" width="180" alt="">
            <h4>3 - Facilité de prise de note</h4>
            <p>Quoi de plus simple que de créer une note à partir du notre outil de création!</p>

        </div><!--/col-lg-4 -->
    </div><!-- /row -->
</div><!-- /container -->

<hr>

<div class="container">
    <div class="row mt centered">
        <div class="col-lg-6 col-lg-offset-3">
            <h1>Quelque post<br/>de dernière minute</h1>
            <h3>Garder les yeux ouvert !</h3>
        </div>
    </div><!-- /row -->

    <div class="row mt centered">
        <div class="col-lg-4">
            <img class="img-circle" src="{{ asset('front/img/pic1.jpg') }}" width="140" alt="">
            <h4>Michael Robson</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
            <button class="btn btn-primary btn-xs col-lg-12">Lire<i class="glyphicon glyphicon-globe"></i></button>
        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-circle" src="{{ asset('front/img/pic2.jpg') }}" width="140" alt="">
            <h4>Pete Ford</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
            <button class="btn btn-primary btn-xs col-lg-12">Lire<i class="glyphicon glyphicon-globe"></i></button>
        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-circle" src="{{ asset('front/img/pic3.jpg') }}" width="140" alt="">
            <h4>Angelica Finning</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
            <button class="btn btn-primary btn-xs col-lg-12">Lire<i class="glyphicon glyphicon-globe"></i></button>
        </div><!--/col-lg-4 -->
    </div><!-- /row -->
</div><!-- /container -->

<hr>

<div class="container">
    <div class="row mt centered">
        <div class="col-lg-6 col-lg-offset-3">
            <h1>Quelque actu<br/>de dernière minute</h1>
            <h3>A vos lunette !</h3>
        </div>
    </div><!-- /row -->

    <div class="row mt centered">
        <div class="col-lg-4">
            <img class="img-circle" src="{{ asset('front/img/pic1.jpg') }}" width="140" alt="">
            <h4>Michael Robson</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
            <button class="btn btn-primary btn-xs col-lg-12">Lire<i class="glyphicon glyphicon-globe"></i></button>
        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-circle" src="{{ asset('front/img/pic2.jpg') }}" width="140" alt="">
            <h4>Pete Ford</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
            <button class="btn btn-primary btn-xs col-lg-12">Lire<i class="glyphicon glyphicon-globe"></i></button>
        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-circle" src="{{ asset('front/img/pic3.jpg') }}" width="140" alt="">
            <h4>Angelica Finning</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
            <button class="btn btn-primary btn-xs col-lg-12">Lire<i class="glyphicon glyphicon-globe"></i></button>
        </div><!--/col-lg-4 -->
    </div><!-- /row -->
</div><!-- /container -->

{% endblock %}
