{% extends 'admin/layout/base.html.twig' %}
{% block body %}

    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
        <!-- Right -->
        <strong><span class="fa fa-book"></span>&nbsp; {{ 'gestion_diary'|trans }}</strong>
        <hr>

        <div class="panel panel-default filterable">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'diary'|trans }}</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span>&nbsp;{{ 'filter'|trans }}</button>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr class="filters">
                    <th><input type="text" class="form-control" placeholder="{{ 'id_sharp'|trans }}" disabled></th>
                    <th><input type="text" class="form-control" placeholder="{{ 'langue_id'|trans }}" disabled></th>
                    <th><input type="text" class="form-control" placeholder="{{ 'users_id'|trans }}" disabled></th>
                    <th><input type="text" class="form-control" placeholder="{{ 'categorie_id'|trans }}" disabled></th>
                    <th><input type="text" class="form-control" placeholder="{{ 'titre'|trans }}" disabled></th>
                    <th><input type="text" class="form-control" placeholder="{{ 'contenu'|trans }}" disabled></th>
                    <th><input type="text" class="form-control" placeholder="{{ 'createdAt'|trans }}" disabled></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for row in diary %}
                    <tr>
                        <td>{{ row.getId() }}</td>
                        <td>{{ row.langue.name }}</td>
                        <td>{{ row.users.pseudo }}</td>
                        <td>{{ row.categorie.nom }}</td>
                        <td>{{ row.titre }}</td>
                        <td>{{ row.contenu }}</td>
                        <td>{{ row.createdAt|date('d/m/Y') }}</td>
                        <td>
                            <a href="{{ path('diary.show', {'id': row.getId() }) }}"><i class="fa fa-newspaper-o"></i></a>

                            <div id="deleteDiary_{{ row.id }}" class="deleteDiary" data-id="{{ row.id }}">
                                <form action="{{ url('admin.diary.destroy', {'id':row.id}) }}" method="POST" accept-charset="UTF-8" id="form_diary_destroy">
                                    <a href="#" class="btn-remove-diary">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </form>
                            </div>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}