<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if app.session.has('users') %}
                <a class="navbar-brand" href="{{ path('homepage.index') }}"><b>Bilel Bekkouche</b></a>
            {% else %}
                <a class="navbar-brand" href="{{ path('login') }}"><b>Bilel Bekkouche</b></a>
            {% endif %}

            <ul class="nav navbar-nav navbar-left">
                <li><a href="{{ path('homepage.index') }}">Accueil</a></li>
                <li><a href="#">Créer un poste</a></li>
                <li><a href="#">Mes postes</a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if app.session.has('users') %}
                    <!-- dropdown -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">bienvenue {{ app.session.get('users').email }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Mon profil</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('logout') }}">Déconnection</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ path('login') }}">Connection</a></li>
                    <li><a href="{{ path('register') }}">Inscription</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>