<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"><b>{{ 'navigation_bilel'|trans }}</b></a>

            <ul class="nav navbar-nav navbar-left">
                {% if app.session.has('users') %}
                    <li><a href="{{ path('homepage.index') }}">{{ 'navigation_accueil'|trans }}</a></li>
                    <li><a href="{{ path('diary') }}">{{ 'navigation_addPost'|trans }}</a></li>
                {% else %}
                    <li><a href="{{ path('homepage.index') }}">{{ 'navigation_accueil'|trans }}</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if app.session.has('users') %}
                    <!-- dropdown -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'navigation_welcome'|trans }} {{ app.session.get('users').email }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('profil', {'id': app.session.get('users').getId()}) }}">{{ 'navigation_profil'|trans }}</a></li>
                            <li><a href="{{ path('actu') }}">{{ 'navigation_actu'|trans }}</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('logout') }}">{{ 'navigation_logout'|trans }}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ path('login') }}">{{ 'navigation_login'|trans }}</a></li>
                    <li><a href="{{ path('register') }}">{{ 'navigation_register'|trans }}</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>