<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">

    <ul class="nav nav-pills nav-stacked" style="border-right:1px solid black">
        <!--<li class="nav-header"></li>-->
        <li><a href="{{ path('admin.dashboard') }}"><i class="fa fa-dashboard"></i>&nbsp;{{ 'header_dashboard'|trans }}</a></li>
        <li><a href="{{ path('admin.users') }}"><i class="fa fa-users"></i>&nbsp;{{ 'header_users'|trans }}</a></li>
        <li><a href="{{ path('admin.actu') }}"><i class="fa fa-newspaper-o"></i>&nbsp;{{ 'header_actu' |trans}}</a></li>
        <li><a href="{{ path('admin.categorie') }}"><i class="fa fa-tag"></i>&nbsp;{{ 'header_catégorie' |trans}}</a></li>
        <li><a href="{{ path('admin.diary') }}"><i class="fa fa-book"></i>&nbsp;{{ 'header_posts' |trans}}</a></li>
    </ul>

</div><!-- /span-3 -->