<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ 'administration'|trans }}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">&nbsp;
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="fa fa-user-circle"></i> {{ 'navigation_welcome'|trans }} {{ app.session.get('users').pseudo }} <span class="caret"></span></a>
                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
                        <li><a href="{{ path('profil', {'id': app.session.get('users').getId() }) }}"><i class="fa fa-user-secret"></i>{{ 'navigation_profil'|trans }}</a></li>
                        <li><a href="{{ path('homepage.index') }}"><i class="fa fa-chrome"></i>&nbsp;{{ 'return_website'|trans }}</a></li>
                        <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out"></i>{{ 'navigation_logout'|trans }}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /container -->
</div>